*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial;
}

body{
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
    background-color: #dadada;
}

.product-card{
    background-color: #fff;
    padding: 2rem;
    border-radius: 20px;
    box-shadow: 0 0 10px 20px rgba(0,0, 0, 0.1);

    & .product-img{
        background-color: #c5c5c5; 
        border-radius: 20px;
        position: relative;

        & .limited{
            display: none;
            position: absolute;
            top: 10px;
            left: 12px;
            padding: .25rem;
            border-radius: 4px;
            background-color: yellow;
        }

    }
    & .product-info{
        margin: 1rem 0;
        
        & .product-brand{
            background-color: blue;
            color: #fff;
            padding: 10px;
            display: inline-block;
            border-radius: 6px;
        }

        & h3{
            margin: .5rem 0;
            font-size: 26px;
        }

        & .product-price{
            font-size: 20px;
        }

        & ul{
            display: flex;
            margin: 1rem;
            list-style: none;

            & li{
                margin-right: 1rem;
                cursor: pointer;
            }

            & .blue-color{
                width: 40px;
                height: 40px;
                background-color: blue;
                border-radius: 100%;
            }
            & .red-color{
                width: 40px;
                height: 40px;
                background-color: red;
                border-radius: 100%;
            }
            & .green-color{
                width: 40px;
                height: 40px;
                background-color: green;
                border-radius: 100%;
            }
        }
    }
}